*{
    margin: 0;
    padding: 0;
    font-family:'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/web.jpg) ;
    height: 100vh;
    background-position: center;
    background-size:150vh 100vw;
}

.Soon{
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    color: #850808;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 60vh;
}
h1{
    font-size: 65px;
    letter-spacing: 15px;
}
hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid  #850808;
    
}
p{
    font-size: 20px;
    margin-bottom: 30px;
}
#launch{
    font-size: 2vw;
    word-spacing: 1vw;
}

.about {
    width: 100%;
    padding: 25vh 0vw;
    background-color: #191919 ;
}
 img{
    height: auto;
    width: 40vw;
 }
.about-text{
    width: 40vw;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 6vw;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 3vw;
    text-transform: capitalize;
    margin-bottom: 25;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1.5vw;
    margin-bottom: 45px;
}
button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px ;
    border-radius: 30px;
    transition: .4s;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.services{

    background: #101010;
    width: 100%;
    height: 100vh;
    padding: 7vh 0.2vw;
}

.title h2{
    color:white;
    font-size: 6vw;
    width: 1130px;
    margin:1vw auto;
    text-align: center;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card {
    height:365px;
    width:335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position:relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin:25px 0px;
    color:#f9004d
}

h5{
    color: white;
    font-size: 1.8vw;
    margin-bottom:15px;
}
.pra p{
    color:#fcfc;
    font-size:1vw;
    line-height: 27px;
    margin-bottom: 30px;
}
 .card .button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px ;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d; 
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bg.png") no-repeat center center/cover;
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container form input::placeholder{
    color: #ddd;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover{
    opacity: 0.7;
}